* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 12px;
}

body {
    background-color: white;
    color: #0a0908;
}

.dark-mode {
    background-color: #0a0908;
    color: white;
}

.dark-mode header {
    border-bottom: 1px solid white;
}

.dark-mode nav li a {
    color: white;
}

.dark-mode #about img {
    border: 1px solid #cfb53b;
}

/* p, h1, h2, h3, h4, h5, h6 {
    color: #0a0908;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    margin: auto 2rem;
    border-bottom: 1px solid #0a0908;
}

main {
    margin: 0 2rem;
}

p {
    font-size: 1.333rem;
}

a {
    color: #cfb53b; 
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

nav li a {
    color: #0a0908;
    text-decoration: none;
}

#toggle {
    cursor: pointer;
}

ul li {
    font-size: 1.333rem;
}

#about img {
    float: right;
    margin: 10px 2rem 10px 10px;
    width: 180px;
    height: auto;
}

#skillslist, #contactinfo {
    display: flex;
    justify-content: left;
}

#skillslist ul, #contactinfo ul {
    list-style-type: none;
}

#skillslist li, #contactinfo li {
    display: inline;
    margin-right: 3rem;
    color: #cfb53b;
}

@media only screen and (max-width: 680px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 599px) {
    p, ul li, nav ul li {
        font-size: 1.2rem;
    }

    nav ul li {
        margin-left: 1rem;
    }

}

@media only screen and (max-width: 547px) {
    p, ul li, nav ul li {
        font-size: 1.1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.333rem;
    }

    nav ul li {
        margin-left: 0.667rem;
    }

    #about img {
        width: 40%;
    }
}

@media only screen and (max-width: 469px) {
    
}